<div class="alert alert-danger" *ngIf="registerForm.errors && registerForm.errors.mismatch">
    Passwords don't match
</div>
<form [formGroup]="registerForm">
    <div class="form-group">
        <label>Email Address</label>
        <app-input [control]="registerForm.get('email')"></app-input>
        {{ registerForm.get('email').errors | json }}
    </div>
    <div class="form-group">
        <label>Password</label>
        <app-input type="password" [control]="registerForm.get('password')"></app-input>
        {{ registerForm.get('password').errors | json }}
    </div>
    <div class="form-group">
        <label>Password Confirmation</label>
        <app-input type="password" [control]="registerForm.get('passwordConfirmation')"></app-input>
        {{ registerForm.get('passwordConfirmation').errors | json }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>{{ registerForm.value | json}}</div>
<div>{{ registerForm.errors | json }}</div>