<div class="container">
  <div class="card mt-3">
    <form class="card-body">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Name on card</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label>Credit card number</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Expiration</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
          <label>CVV</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </form>
  </div>
</div>